body {
    background-color: antiquewhite;
}

div {  
    padding: 10px;
    font-size: 19px;     
    
}

li {
    padding: 10px;;
}

ul {
    border: 1px solid black;
    max-width: 300px;
    background-color: white;
    
}

.loader {
    font-size: 39px;
    color: brown;
    border: none;

}


